{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "^/(.+)": "./src/\\1"
        }
      }
    ],
    "transform-class-properties"
  ]
}
